:root{
    /* --primary: #EA40A4; */
    --primary: #b92039;
    --business: #3A82EE;
    --personal: var(--primary);
    --other: rgb(35, 196, 29);
    --light:#EEE;
    --dark: #313154;
    --grey:#888;
    --danger: #FF5B57;

    --shadow: 0 1px 3px rgba(0,0,0,0.1);

    --business-glow: 0px 0px 4px rgba(58,130,238,0.75);
    --personal-glow: 0px 0px 4px rgba(234,64,164,0.75);
    --other-glow: 0px 0px 4px rgba(3,146,0,0.75);

    /* dark theme */

    --p-color:#424242;
    --bg-color: #eee;
    --h1-color: #313154;
    --bg-box:#FFF;
    
}

[data-theme=dark]{
    --p-color:#e1e1ff;
    --bg-color: black;
    --h1-color: #96a6d1;
    --dark: #e8e8ec;
    --bg-box:#24243b;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

header{
    background: var(--primary);
    color: var(--light);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

input:not([type="radio"]):not([type="checkbox"]),button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body{
    background: var(--bg-color);
    color: var(--h1-color);
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5em;
}

h3{
    color: var(--dark);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4{
    color:var(--grey);
    font-size: 0.98rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.greeting .title{
    display: flex;
}

.greeting .title input{
   margin-left: 0.5rem;
   flex: 1 1 0%;
   min-width: 0;
}

.greeting .title,
.greeting .title input{
color: var(--dark);
font-size: 1.5rem;
font-weight: 700;
}

.create-todo input[type="text"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: var(--bg-box);
    border-radius: 0.5rem;
    box-sizing: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .options{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.1rem;
    background-color: var(--bg-box);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

input[type="radio"],input[type="checkbox"]{
    display: none;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.bubble.personal{
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble.other{
    border-color: var(--other);
    box-shadow: var(--other-glow);
}

.bubble::after{
    content:"";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.bubble.personal::after{
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble.other::after{
    background-color: var(--other);
    box-shadow: var(--other-glow);
}

input:checked ~ .bubble::after{
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div{
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo input[type="submit"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover{
    opacity: 0.75;
}

.todo-list .list{
    margin: 1rem 0;
}

.todo-list .todo-item{
    display: flex;
    align-items: center;
    background-color: var(--bg-box);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content{
    flex: 1 1 0%;
}

.todo-item .todo-content input{
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .actions{
    display: flex;
    align-items: center;
}

.todo-item .actions button{
    display: block;
    padding: 0.5rem;
    border-radius: 0.025rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover{
    opacity: 0.75;
}

.todo-item .actions .edit{
    margin-right: 0.5rem;
    background-color: var(--business);
}

.todo-item .actions .delete{
    background-color: var(--danger);
}

.todo-item.done .todo-content input{
    text-decoration: line-through;
    color: var(--grey);
}

/* Testes com Dark Theme */

.theme-switch-wrapper{
    align-items: center;
    margin-top: 3px;
}

.theme-switch{
    display: inline-block;
    height: 30px;
    position: relative;
    width: 63px; 
}

.theme-switch input{
    display: none;
}

.slider{
    background-color: rgb(180,194,206);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.9s;
}

.slider::before{
    background-color: rgb(41, 52, 61);
    bottom: 4px;
    content: "";
    height: 22px;
    left: 5px;
    position: absolute;
    transition: 0.9s;
    width: 22px;
}

input:checked + .slider{
    background-color: #070607;
}

input:checked + .slider::before{
    transform: translateX(30px);
    background-color: white;
}

.slider.round{
    border-radius: 80px;
}

.slider.round::before{
    border-radius: 50%;
}
